@import '../../assets/fonts/Inter/font.css';

.header {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  &__container {
    display: flex;
    align-items: center;
    margin-left: 22px;
    margin-right: 22px;
    .sign__in {
      width: 84px;
      margin-right: 19px;
    }
    .sign__up {
      width: 109px;
      height: 51px;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid var(--success-color, #52c41a);
      color: #52c41a;
    }
    &__btn {
      text-decoration: none;
      padding: 0;
      display: flex;
      align-items: center;
      color: var(--heading-color, rgba(0, 0, 0, 0.85));
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      border: none;
      background-color: #ffffff;
      height: 35px;
      cursor: pointer;
      border-radius: 5px;
    }
    &__btn:active {
      transform: translateY(2px);
      transition: 0.2s;
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }
  }
}

.name__blog:hover {
  color: #1890ff;
}

.create_article {
  width: 112px;
  height: 31px;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--success-color, #52c41a);
  color: #52c41a;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.create_article_activ {
  width: 112px;
  height: 31px;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--success-color, #52c41a);
  color: #1890ff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.logout {
  margin-left: 27px;
  border: 1px solid var(--text-color, rgba(0, 0, 0, 0.75));
  color: rgba(0, 0, 0, 0.75);
  width: 109px;
  height: 51px;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.username {
  margin-left: 27px;
  &_img {
    height: 46px;
    width: 46px;
    border-radius: 23px;
  }
}
.username_span {
  margin-right: 13px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header__container__btn:hover {
  color: #1890ff;
}

.active {
  color: #1890ff;
}

.sign__up_activ {
  width: 109px;
  height: 51px;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--success-color, #52c41a);
  color: #1890ff;
}
