body {
  background-color: #ebeef3;
  margin: 0;
  bottom: 0;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-pagination
  .ant-pagination-item-active
  a {
  background-color: #1890ff;
  cursor: pointer;
  color: #ffffff;
}

.ant-select {
  display: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
